{% extends 'profil/base-tab.html.twig' %}

{% block menu %}


	<ul class="nav nav-tabs">
	  <li class="nav-item">
	    <a class="nav-link active show" data-toggle="tab" href="#infos">Infos</a>
	  </li> 
	  <li class="nav-item">
	    <a class="nav-link" href="{{ path('profil_topics') }}">Sujets</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="{{ path('profil_comments') }}">Commentaires</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="{{ path('profil_comments_contents') }}">Commentaires hors forum</a>
	  </li>		  
	</ul>

{% endblock %}

{% block content %}		

	<div id="myTabContent" class="tab-content">

	  <section class="tab-pane fade active show mt-4 profil-tabs-general">

	  	{# --------------------------------------------------------------- #}

	  		{# --------------------------------- #}
			<ul class="nav nav-tabs">
			  <li class="nav-item">			    
			    <a class="nav-link" href="{{ path('profil') }}">Général</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link active show" data-toggle="tab" href="#password">Mot de passe</a>
			  </li>
			</ul>

			<div id="myUnderTabContent" class="tab-content">

				<div class="tab-pane fade active show" id="password">
				{# --------------------- #}
					{{form_start(passwordForm)}}

					{{form_row(passwordForm.password,{ 'label':'Mot de passe','attr':{
						'placeholder':'Mot de passe ...'}
					})}}
					{{form_row(passwordForm.confirm_password,{ 'label':'Confirmation du mot de passe','attr':{
						'placeholder':'Répétez votre mot de passe ...'}
					})}}

					<button type="submit" class="btn btn-success">Enregistrer</button>
					{{form_end(passwordForm)}}					
				{# --------------------- #}

				</div>

			</div>
		{# --------------------------------------------------------------- #}
	  </section>
	  
	</div>

{% endblock %}
