	<section  id="table-users">

		<div class="mt-3" id="admin-logos">
			
			{# array pour les labels #}
			{% set labels = {
				'logo': 'Logo (.png 150px/150px)',
				'favicon': 'Favicon (.ico 64px/64px)',
				} 
			%}

			{{ form_start(form) }}
	   
		        {% for logo in form.logos %}

					<div class="form-group">

						<label for="{{ logo.image.vars.id }}"
						    class='text-white'>
						    {{ labels[logo.vars.value.type] }} 

						</label>

					    {# bouton de suppression #}
					    {% if (logo.vars.value.image) %}					    
						    <a href='{{ path('admin_logo_remove',{'name':logo.vars.name})}}' id="supp-{{logo.image.vars.id}}" class="supp-media"><i class="far fa-trash-alt"></i></a>						   
					    {% endif %}					

						{{ form_widget(logo.image,{
						'attr':{
							'placeholder':'Votre image ...'
						},						
						}) }}

						{% set imageInput='' %}

						{% if (logo.vars.value.image) %}

							<div class="apercu" id="apercu-{{logo.image.vars.id}}">
									{#--affichage image--#}
									{% set imageInput=asset('uploads/images/design/'~ logo.vars.value.image) %}
									<img class="imgpreview" src="{{ imageInput }}"/>

							</div>	
						{% endif %}

					</div>
		       
		        {% endfor %}
				   
				<button type="submit" class="btn btn-success mt-4">
						Enregistrer les modifications

				</button>

			{{ form_end(form) }}
	
		</div>

	</section>