{% extends 'base.html.twig' %}

{% block title %} Edition {% endblock %}

{% block body %}

	<div class="container" id="work-topic">

		<h1>
			{% if editMode %}
				Modification d'une news
			{% else %}
				Création d'une news
			{% endif %}
		</h1>

		<div class="mb-4">
			<a class="btn btn-success" href="{{ path('admin_content',{'slug':'news'}) }}"><i class="fas fa-arrow-left"></i> Accueil édition</a>

			{% if editMode %}
				<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">Supprimer news</button>

				 <!-- Modal -->
				<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLabel">Suppression de la news</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        Voulez-vous supprimer définitivement la news ?
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
				        <a type="button" class="btn btn-warning" id="supp-talk" href="{{ path('news_remove',{'id':news.id}) }}">Supprimer</a>
				      </div>
				    </div>
				  </div>
				</div>
			
			{% endif %}
		</div>		

		<div class="mt-5">

			{{ form_start(formNews) }}

				{{ form_row(formNews.title, {
					'label':'Titre de la news',
					'attr':{
						'placeholder':'Votre titre ...'
					}
				}) }}
				
				{#--image--#}

				{{ form_row(formNews.image) }}
				
				{% set imageNews='' %}
				{% set distances='' %}

				{% if (urlImage | length)> 0 %}
					{% set imageNews=asset('uploads/images/news/'~ urlImage) %}
					{% set distances='pt-3 pb-3' %}
				{% endif %}

				{#--affichage image--#}
				<div id="apercu" class="{{ distances }}">
						<img id="imgpreview" src="{{ imageNews }}"/>
				</div>

				{#--fin image--#}

				<div class="form-group">
				    <label for="editor">News</label>
					<textarea id="editor" name="editor">
					{{ news.content }}
					</textarea>
				</div>				

				{{ form_row(formNews.description, {
					'label':'Description de la news',
					'attr':{
						'placeholder':'Votre description ...'
					}
				}) }}				

				{{ form_row(formNews.authorPseudo, {
					'label':'Nom d\'auteur à afficher',
					'attr':{
							'placeholder':app.user.username
						}					
				}) }}

				{{ form_row(formNews.status, {
					'label':'Etat',
				}) }}	

				{{ form_row(formNews.publishedAt, {
					'label':'Date de publication',
				}) }}							

				<button type="submit" class="btn btn-success mt-4">
					{% if editMode %}
						Enregistrer les modifications
					{% else %}
						Enregistrer la news
					{% endif %}
				</button>				

			{{ form_end(formNews) }}

		</div>

	</div>
		
{% endblock %}


{% block javascripts %}
    <script src="//cdn.ckeditor.com/4.5.6/full-all/ckeditor.js"></script>
    {% include "@CKSourceCKFinder/setup.html.twig" %}

	<script>
    	var editor = CKEDITOR.replace( 'editor' );
   	 CKFinder.setupCKEditor( editor );
	</script>
{% endblock %}