
<h3>Message de {{contact.prenom}} {{contact.nom}} le {{contact.createdAt | date('Y/m/d') }} à {{contact.createdAt | date('H:i') }}</h3>

<p>email : {{contact.email}}</p>

<p>{{contact.content}}</p>



