		<nav class="navbar navbar-expand-lg navbar-dark {{class}}" id="{{id}}">
    		<div class="container">
			  <a class="navbar-brand" href="{{ path('home') }}"><img src="{{asset(user_management.logo)}}" id="nav-logo"/></a>

			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>

			  <div class="collapse navbar-collapse" id="navbarColor01">
			    <ul class="navbar-nav mr-auto">

			    <li class="nav-item">
			        <a class="nav-link" href="{{ path('home') }}"><i class="fas fa-home"></i> Accueil</a>
			     </li>	

			    {% if app.user and 'ROLE_XXXXX' in app.user.roles %}
			      <li class="nav-item dropdown">
			        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkNews" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          News
			        </a>
			        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkNews">
			          <a class="dropdown-item" href="{{ path('news') }}">News</a>
			          <a class="dropdown-item" href="{{ path('news_create') }}">Création</i></a>
			          <a class="dropdown-item" href="{{ path('admin_content',{'slug':'news'}) }}">Edition</i></a>
			        </div>
			      </li>

			      <li class="nav-item dropdown">
			        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkFilms" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          Films
			        </a>
			        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkFilms">
			          <a class="dropdown-item" href="{{ path('films') }}">Films</a>
			          <a class="dropdown-item" href="{{ path('film_create') }}">Création</i></a>
			          <a class="dropdown-item" href="{{ path('admin_content',{'slug':'films'}) }}">Edition</i></a>
			        </div>
			      </li>

			      <li class="nav-item dropdown">
			        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkMusic" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          Musique
			        </a>
			        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkMusic">
			          <a class="dropdown-item" href="{{ path('music') }}">Musique</a>
			          <a class="dropdown-item" href="{{ path('music_create') }}">Création</i></a>
			          <a class="dropdown-item" href="{{ path('admin_content',{'slug':'music'}) }}">Edition</i></a>
			        </div>
			      </li>		

			      <li class="nav-item dropdown">
			        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkBio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          Bio
			        </a>
			        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkBio">
			          <a class="dropdown-item" href="{{path('page_show',{'slug':'bio'})}}">Bio</a>
			          <a class="dropdown-item" href="{{ path('page_edit',{'slug':'bio'}) }}">Edition</i></a>
			        </div>
			      </li>				      	      

			    {% else %}
			      <li class="nav-item">
			        <a class="nav-link" href="{{ path('news') }}">News</a>
			      </li>	
			      <li class="nav-item">
			        <a class="nav-link" href="{{ path('films') }}">Films</a>
			      </li>		
			      <li class="nav-item">
			        <a class="nav-link" href="{{ path('music') }}">Musique</a>
			      </li>	
			      <li class="nav-item">
			        <a class="nav-link" href="{{path('page_show',{'slug':'bio'})}}">Bio</a>
			      </li>				      
			    {% endif %}


			      <li class="nav-item">
			        <a class="nav-link" href="{{ path('forum') }}">Forum</a>
			      </li>	

			      <li class="nav-item dropdown">
			        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkSocial" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          Réseaux
			        </a>
			        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkSocial">
			        	{% for network in user_management.networksNav %}
				          <a class="dropdown-item" href="{{network.url}}" target="_blank">{{network.name}}</a>
				        {% endfor %}
			        </div>
			      </li>

			      {% if not app.user %}
				      <li class="nav-item">
				        <a class="nav-link" href="{{ path('security_registration') }}">S'inscrire</a>
				      </li>			      
				      <li class="nav-item">
				        <a class="nav-link" href="{{ path('security_login') }}">Connexion</a>
				      </li>	
			      {% else %}	

				      <li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				          Mon compte
				        </a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				          <a class="dropdown-item" href="{{ path('profil') }}">Profil</a>
				          <a class="dropdown-item" href="{{ path('profil_public',{'username':app.user.username}) }}">Profil public</a>
				          <a class="dropdown-item" href="{{ path('profil_mail_reception') }}">Messages</a>
				        </div>
				      </li>

					{% if 'ROLE_XXXXX' in app.user.roles%}

				      <li class="nav-item">
				        <a class="nav-link" href="{{ path('admin') }}">Administration</a>
				      </li>			

					{% endif %}		

				      <li class="nav-item">
				        <a class="nav-link" href="{{ path('security_logout') }}">Déconnexion</a>
				      </li>	}

			      {% endif %}		            
			    </ul>
			  </div>
			 </div>
		</nav>