	<section  id="table-users">

		<table class="table table-hover table-bordered table-striped" id="admin-discuss">

			<thead>
			    <tr>
			      <th scope="col" class="intrm">Catégorie</th>
			      <th scope="col">Sujet</th>
			      <th scope="col" class="intrm">Auteur du topic</th>
			      <th scope="col" class="intrm">Nbre de commentaires</th>
			      <th scope="col" class="intrm">Date de création</th>
			      <th scope="col">Editer</th>
			      <th scope="col" class="intrm">Suppression</th>
			    </tr>
		  	</thead>

		  	<tbody>
				{% for topic in topics %}
				<tr>
				     <th scope="row" class="text-primary intrm">{{ topic.category.category }}</th>
				     <td><a href="{{ path('forum_topic',{'slug':topic.category.slug, 'id':topic.id, 'titleUrl':topic.titleUrl}) }}">{{ topic.title }}</a></td>
				     <td class="intrm"><a href="{{ path('profil_public',{'username':topic.author.username}) }}">{{ topic.author.username }}</a></td>{# un seul auteur de commentaire#}
				     <td class="text-primary intrm">{{ topic.reactions | length }}</td>
				     <td class="text-primary intrm">{{ topic.createdAt | date('d/m/Y')  }} à {{topic.createdAt | date('H:i') }}</td>
				     <td class="admin-action-button">
					    <a type="button" class="admin-edit" href="{{ path('admin_topic_edit',{'id':topic.id}) }}">Editer</a>				     	
				     </td>				     
				     <td class="admin-action-button intrm">
					    <a type="button" class="admin-remove" href="{{ path('admin_topic_remove',{'id':topic.id}) }}">Supprimer</a>				     	
				     </td>
									     
				 </tr>
				{% endfor %}

			</tbody>

		</table>

		<div class="navigation-admin">
   			 {{ knp_pagination_render(refPaginator) }}				  
		</div>

	</section>